@charset "UTF-8";

.content{
    text-align: center;
    transform: translateY(25px);
}

.content > h1{
    margin-bottom: 40px;
}

.content > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 45vw;
    height: 150px;
}

.content > ul a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.content > ul > li{
    list-style-type: none;
    background: linear-gradient(to right, #ffcc00, #ff3300);
    border-radius: 5px;
    padding: 12px 5px;
    box-shadow: 2px 3px 5px black;
    transition: 0.3s;
}

.content > ul > li:hover{
    cursor: pointer;
    transform: scale(1.1);
}