@charset "UTF-8";

h1#my-heading{
    background-color: blueviolet;
    color: white;
    margin-bottom: 10px;
}
table{
    width: 500px;
    border-collapse: collapse;
}
tr, td{
    width: 50%;
    border: 1px solid black;
    padding: 7px;
    text-align: center;
}
tbody > tr:nth-child(odd){
    background-color: darkgrey;
}
tbody > tr:nth-child(even){
    background-color: rgb(243, 242, 242);
}
th{
    text-align: center;
    font-weight: bold;
    background-color: rgb(49, 41, 204);
    border: 1px solid black;
    padding: 7px;
    color: rgb(255, 255, 255);
}