@charset "UTF-8";

.body{
    background-color: rgb(19, 19, 28);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100%;
    padding: 30px;
}

.main{
    display: flex;
    justify-content: center;
}

.containerInfo{
    text-align: center;
}

.card{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card img{
    width: 100%;
    height: 100%;
}

.contDetails{
    display: flex;
    justify-content: center;
}

.contDetails p{
    padding-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.dado{
    color: rgb(109, 109, 109);
}